/*! 공통 클래스 스타일 */

/*! 이미지 대체 기법 */
.ir {overflow: hidden; text-indent: -9999em; }

/*! 스크린리더/브라우저에서 모두 감추기 */
.hidden {display: none !important; visibility: hidden; }

/*! 스크린리더에서는 읽기 가능 */
.acc-hidden {border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/*! 스크린리더에서는 읽기 가능 + 포커스 적용 */
.acc-hidden.focusable:active,
.acc-hidden.focusable:focus {clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/*! 화면에서는 안 보이지만, 레이아웃 공간 적용 */
.invisible {visibility: hidden; }

/*! float 적용 요소 감싸는 클래스 - clearfix */
.cf:before,
.cf:after {content: " "; display: table; }
.cf:after {clear: both; }
.clearfix {*zoom: 1; }