@charset "utf-8";
/*! 크롬프레임 스타일 */
.chromeframe {position:fixed;top:5px;right:5px;width:480px;margin:0.2em 0;border:1px solid #cfcfcf;padding: 0.4em;background:#efefef;color:#2f2f2f;font-size:0.8em;line-height:1.5} 